body{
    text-align: center !important;
    font-family: 'Pacifico', cursive !important;
    color: #00374c !important;
    background-color: yellow!important;
}

h1{
    margin: 25px !important;
}

h2{
    margin: 35px !important;
}

#play, #rejouer {
    width: 200px;
    height: 40px;
    margin: 40px;
}

.image {
    width: 250px !important;
    height: 250px !important;
    margin: 10px !important;
    border: 2px solid midnightblue;
    border-radius: 10px;
}

#modal {
    height: 500px;
    width: 60%;
    background-color: #00374c;
    text-align: center;
    color: white;
    padding-top: 20px;
    border-radius: 10px;
    position: absolute;
    top: -600px;
    left: 20%;
    transition: 0.5s;
}