body {
    text-align: center !important;
    font-family:  'Sedgwick Ave', cursive !important;
    font-weight: bold;
    color: #00374c !important;
    background-color: yellow !important;
    background-image: url("VISUELS/empreintes.png") !important;
}


h1{
    margin-top: 55px !important;
}

h2{
    margin: 35px !important;
}

#play {
    background-color: #00374c;
    border-radius: 10px;
    color: white;
}

#rejouer {
    background-color: white !important;
    border-radius: 10px !important;
    color: #00374c !important;
}

#play, #rejouer {
    width: 200px !important;
    height: 40px !important;
    margin: 40px !important;
}

.image {
    width: 250px !important;
    height: 250px !important;
    margin: 10px !important;
    border: 2px solid midnightblue;
    border-radius: 10px;
}

#modal {
    height: 1000px;
    width: 60%;
    background-color: #00374c;
    text-align: center;
    color: white;
    padding-top: 20px;
    border-radius: 10px;
    position: absolute;
    top: -1000px;
    left: 20%;
    transition: 0.5s;
}

#msg {
    top: 70px;
    font-size: 60px;
    margin: 25px;
}

#resultat {
    font-size: 25px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#Wimg {
    height: 300px !important;
    margin-top: 70px;
}